.button {
    border: none;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px; 
    cursor: pointer;
    width: 30%; 
    margin-top: 10px;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

.primary {
    background-color: #a855f7; 
    color: #ffffff;
}

.primary:hover {
     background-color: #9333ea;
}

.primary:active {
    transform: scale(0.98);
}

.secondary {
  background-color: transparent;
  color: #a855f7;
  border: 1px solid #a855f7;
}

.secondary:hover {
  background-color: rgba(168, 85, 247, 0.1);
}

.secondary:active {
    transform: scale(0.98);
}