.cards {
    background-color: var(--surface);
    border: 1px solid var(--border);
    border-radius: 8px;
    padding: 30px;
    

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    color: inherit;

    box-sizing: border-box;

    color: var(--text);
    transition: transform .3s, border-color .3s;
}

.cards:hover {
    border: 1px solid var(--primary-hover);
    box-shadow: 0 0 8px var(--text-secondary);
    transform: translateY(-2px);
}